$small_text: #888;

.blog_summary_content {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  width: 40rem;
  height: 15rem;
  margin: 0 auto 2rem;
  text-align: right;
  border-radius: .5rem;
  box-shadow: 0 1px 20px -8px rgba(#000, .5);
  text-shadow: 0 0 1px rgba(0, 0, 0, .1);
  overflow: hidden;

  .blog_thumb_wrapper {
    overflow: hidden;
    max-width: 22rem;
    width: 22rem;
    cursor: pointer;

    .blog_thumb {
      height: 100%;
      background-color: hsla(0, 0%, 96%, .88);
      transition: all 500ms linear;

      &:hover {
        transform: scale(1.1);
        transition: all 500ms linear;
      }

      .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .blog_info {
    max-width: 18rem;
    width: 18rem;
    padding: 1rem 1.8rem;
    background: #fff;

    svg {
      width: .7rem;
      height: .7rem;
      position: relative;
      top: .15rem;
      margin-right: .4rem;
      fill: $small_text;
    }

    .publish_date {
      font-size: .6rem;
      color: $small_text;
    }

    .title {
      color: #504e4e;
      font-size: .9rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 1rem 0;
    }

    .extra_info {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-size: .6rem;
      color: $small_text;

      .category {
        a {
          display: inline-block;
          max-width: 3rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      a {
        color: $small_text;
      }
    }

    .summary_content {
      color: rgba(#000, .66);
      text-shadow: 0 0 1px rgba(#000, .1);
      font-size: .75rem;
      margin-top: 1rem;
      line-height: 1.5;
      height: 5.6rem;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
      overflow: hidden;
    }

    .show_detail_wrapper {
      .icon_more {
        width: 1.4rem;
        height: 1.4rem;
        margin-right: 0;
        &:hover{
          fill: #FE9600;
        }
      }
    }
  }
}

.reverse {
  flex-direction: row-reverse;
  text-align: left;
}

:global(.lazyload.lazyloads),
:global(.lazyloading.lazyloads) {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: filter 400ms, -webkit-filter 400ms;
  will-change: tranform;
}

:global(.lazyloaded.lazyloads) {
  -webkit-filter: blur(0);
  filter: blur(0);
  will-change: tranform;
}