.card_item{
  margin-bottom: 1rem;
  a{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    border-radius: .6rem;
    overflow: hidden;
  }

  .card_bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(10px);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
  }
  @at-root .card_content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .6rem;
    background-color: hsla(0, 0%, 96%, .8);
    .card_title {
      font-size: .8rem;
      font-weight: 500;
      line-height: 1.25;
      color: #1a1a1a;
      display: block;
      max-width: 15rem;
      width: 15rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .card_url {
      display: block;
      margin-top: .5rem;
      font-size: .7rem;
      line-height: 1.25;
      color: #999;
      max-width: 15rem;
      width: 15rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .card_img_cell {
      margin-left: .4rem;
      width: 3rem;
      height: 3rem;
      border-radius: .3rem;
      img {
        width: 3rem;
        height: 3rem;
        object-fit: cover;
        border-radius: inherit;
      }
    }
  }
}
