.back_to_top {
  background: url("../../../assets/images/yancey-official-blog-cat-scroll.png") no-repeat 0 0;
  width: 70px;
  height: 900px;
  position: fixed;
  top: -60rem;
  right: 25px;
  transition: 600ms all cubic-bezier(.25, .1, .3, 1.5);
  animation: float 2s linear infinite;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0);
  }
}
