.yancey-common-header {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  height: 65px;
  background: rgba(#fff, .95);
  box-shadow: 0 1px 40px -8px rgba(#000, .5);
  z-index: 2;
  transition: all .4s ease;
  .yancey-logo {
    background: url("../../../assets/image/yancey-official-blog-logo.png") no-repeat center top;
    width: 210px;
    height: 43px;
    background-size: cover;
    text-indent: -99999px;
  }
  .yancey-navbar-wrapper {
    .yancey-navbar-item {
      position: relative;
      display: inline-block;
      margin-right: 1.4rem;
      &::after {
        position: absolute;
        content: '';
        width: 0;
        height: 4px;
        background: #ffA500;
        top: 40px;
        left: 0;
        transition: all 300ms ease;
      }
      &:hover::after {
        width: 100%;
        transition: all 300ms ease;
      }
      a {
        font-size: .8rem;
        color: #666;
        .header-icon {
          width: .8rem;
          height: .8rem;
          vertical-align: middle;
          fill: #666;
          margin-right: .4rem;
        }
        .header-icon.icon-blog {
          width: .7rem !important;
          height: .7rem !important;
        }

        .header-icon.icon-music {
          width: .7rem !important;
          height: .7rem !important;
        }
        .menu-name {
          vertical-align: middle;
        }
        &:hover {
          color: #ffA500;
          > .header-icon {
            fill: #ffA500;
          }
        }
        &:hover > .header-icon.icon-home {
          :global {
            animation: horizontal 2s ease infinite;
          }
        }
        &:hover > .header-icon.icon-blog {
          :global {
            animation: wrench 2s ease infinite;
          }
        }
        &:hover > .header-icon.icon-archive {
          :global {
            animation: vertical 2s ease infinite;
          }
        }
        &:hover > .header-icon.icon-music {
          :global {
            animation: tada 2s ease infinite;
          }
        }
        &:hover > .header-icon.icon-photo {
          :global {
            animation: pulse 2s ease infinite;
          }
        }
        &:hover > .header-icon.icon-resume {
          :global {
            animation: horizontal 2s ease infinite;
          }
        }
      }
    }
  }
}

@keyframes:global(horizontal) {
  0% {
    transform: translate(0, 0);
  }
  6% {
    transform: translate(5px, 0);
  }
  12% {
    transform: translate(0, 0);
  }
  18% {
    transform: translate(5px, 0);
  }
  24% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(5px, 0);
  }
  100%, 36% {
    transform: translate(0, 0);
  }
}

@keyframes:global(wrench) {
  0% {
    transform: rotate(-12deg);
  }
  8% {
    transform: rotate(12deg);
  }
  10% {
    transform: rotate(24deg);
  }
  18%, 20% {
    transform: rotate(-24deg);
  }
  28%, 30% {
    transform: rotate(24deg);
  }
  38%, 40% {
    transform: rotate(-24deg);
  }
  48%, 50% {
    transform: rotate(24deg);
  }
  58%, 60% {
    transform: rotate(-24deg);
  }
  68% {
    transform: rotate(24deg);
  }
  100%, 75% {
    transform: rotate(0);
  }
}

@keyframes:global(vertical) {
  0% {
    transform: translate(0, -3px);
  }
  4% {
    transform: translate(0, 3px);
  }
  8% {
    transform: translate(0, -3px);
  }
  12% {
    transform: translate(0, 3px);
  }
  16% {
    transform: translate(0, -3px);
  }
  20% {
    transform: translate(0, 3px);
  }
  100%, 22% {
    transform: translate(0, 0);
  }
}

@keyframes:global(tada) {
  0% {
    transform: scale(1);
  }
  10%, 20% {
    transform: scale(.9) rotate(-8deg);
  }
  30%, 50%, 70% {
    transform: scale(1.3) rotate(8deg);
  }
  40%, 60% {
    transform: scale(1.3) rotate(-8deg);
  }
  100%, 80% {
    transform: scale(1) rotate(0);
  }
}

@keyframes:global(pulse) {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.1);
  }
}
