.yancey-common-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3.25rem;
  font: .8rem "Ubuntu", sans-serif;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 40px -8px rgba(0, 0, 0, 0.5);
  z-index: 2;
  transition: all 500ms ease; }
  .yancey-common-header:visited {
    outline: none; }
  .yancey-common-header .yancey-logo {
    width: 11rem;
    height: 2.2rem;
    margin-left: 1.5rem;
    background: url("./yancey-official-blog-logo.png") no-repeat center top;
    background-size: cover;
    text-indent: -99999px; }

.clear-navbar-bg {
  box-shadow: none;
  background: transparent;
  transition: all .4s ease; }
  .clear-navbar-bg:hover {
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 1px 40px -8px rgba(0, 0, 0, 0.5); }

.yancey-nav-item {
  position: relative;
  display: inline-block;
  margin-right: 1.4rem;
  padding-right: .2rem;
  cursor: pointer; }
  .yancey-nav-item:last-child::after {
    height: 0; }
  .yancey-nav-item::after {
    position: absolute;
    content: '';
    width: 0;
    height: 4px;
    background: #ffA500;
    bottom: 0;
    left: 0;
    transition: all 300ms ease; }
  .yancey-nav-item:hover::after {
    width: 100%;
    transition: all 300ms ease; }
  .yancey-nav-item .icon_search {
    position: relative;
    top: .4rem;
    width: 1.3rem;
    height: 1.3rem;
    fill: #666; }
  .yancey-nav-item a {
    display: block;
    height: 3.25rem;
    line-height: 3.25rem;
    color: #666; }
    .yancey-nav-item a .header-icon {
      position: relative;
      top: .1rem;
      width: .8rem;
      height: .8rem;
      fill: #666;
      margin-right: .4rem; }
    .yancey-nav-item a .menu-name {
      text-transform: capitalize;
      transition: all 500ms linear; }
    .yancey-nav-item a:hover {
      color: #ffA500; }
      .yancey-nav-item a:hover > .header-icon {
        fill: #ffA500; }
    .yancey-nav-item a:hover > .icon-home :global {
      animation: horizontal 2s ease infinite; }
    .yancey-nav-item a:hover > .icon-blog :global {
      animation: wrench 2s ease infinite; }
    .yancey-nav-item a:hover > .icon-archive :global {
      animation: vertical 2s ease infinite; }
    .yancey-nav-item a:hover > .icon-music :global {
      animation: tada 2s ease infinite; }
    .yancey-nav-item a:hover > .icon-photo :global {
      animation: horizontal 2s ease infinite; }
    .yancey-nav-item a:hover > .icon-CV :global {
      animation: wrench 2s ease infinite; }
    .yancey-nav-item a:hover > .icon-apps :global {
      animation: pulse 2s ease infinite; }
    .yancey-nav-item a:hover > .icon-RSS :global {
      animation: tada 2s ease infinite; }

.search_full_screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.99); }
  .search_full_screen .icon_close {
    position: absolute;
    top: 1.2rem;
    right: 1.6rem;
    width: 1.6rem;
    height: 1.6rem;
    fill: #B5B5B5;
    cursor: pointer; }
  .search_full_screen .search_cell {
    position: relative;
    width: 30rem;
    margin: 0 auto;
    top: 36vh; }
    .search_full_screen .search_cell .search_title {
      margin-bottom: 1.2rem;
      margin-left: 1.2rem;
      color: #404040;
      font-size: .9rem; }
    .search_full_screen .search_cell .search_icon {
      position: absolute;
      top: 3rem;
      left: .9rem;
      fill: #B5B5B5;
      width: 1.6rem;
      height: 1.6rem; }
    .search_full_screen .search_cell input {
      width: 30rem;
      padding: .6rem 1.2rem .6rem 3.2rem;
      color: #b5b5b5;
      font-family: "Ubuntu", sans-serif;
      font-size: 1.4rem;
      outline: 0;
      border: 1px solid #8f8f8f;
      border-radius: 2.7rem;
      transition: all 100ms linear; }
      .search_full_screen .search_cell input:focus {
        color: #111;
        transition: all 100ms linear; }
  .search_full_screen .miku_chan {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    background: no-repeat center top;
    background-size: cover;
    width: 20rem;
    height: 25.15rem; }

@keyframes :global(horizontal) {
  0% {
    transform: translate(0, 0); }
  6% {
    transform: translate(5px, 0); }
  12% {
    transform: translate(0, 0); }
  18% {
    transform: translate(5px, 0); }
  24% {
    transform: translate(0, 0); }
  30% {
    transform: translate(5px, 0); }
  100%, 36% {
    transform: translate(0, 0); } }
@keyframes :global(wrench) {
  0% {
    transform: rotate(-12deg); }
  8% {
    transform: rotate(12deg); }
  10% {
    transform: rotate(24deg); }
  18%, 20% {
    transform: rotate(-24deg); }
  28%, 30% {
    transform: rotate(24deg); }
  38%, 40% {
    transform: rotate(-24deg); }
  48%, 50% {
    transform: rotate(24deg); }
  58%, 60% {
    transform: rotate(-24deg); }
  68% {
    transform: rotate(24deg); }
  100%, 75% {
    transform: rotate(0); } }
@keyframes :global(vertical) {
  0% {
    transform: translate(0, -3px); }
  4% {
    transform: translate(0, 3px); }
  8% {
    transform: translate(0, -3px); }
  12% {
    transform: translate(0, 3px); }
  16% {
    transform: translate(0, -3px); }
  20% {
    transform: translate(0, 3px); }
  100%, 22% {
    transform: translate(0, 0); } }
@keyframes :global(tada) {
  0% {
    transform: scale(1); }
  10%, 20% {
    transform: scale(0.9) rotate(-8deg); }
  30%, 50%, 70% {
    transform: scale(1.3) rotate(8deg); }
  40%, 60% {
    transform: scale(1.3) rotate(-8deg); }
  100%, 80% {
    transform: scale(1) rotate(0); } }
@keyframes :global(pulse) {
  0% {
    transform: scale(1.1); }
  50% {
    transform: scale(0.8); }
  100% {
    transform: scale(1.1); } }

/*# sourceMappingURL=header.module.css.map */
