$orange: #ffA500;
$gray: #666;

.yancey_common_header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3.25rem;
  font: .8rem "Ubuntu", sans-serif;
  background: rgba(#fff, .95);
  box-shadow: 0 1px 40px -8px rgba(#000, .5);
  z-index: 2;
  transition: all 500ms ease;
  &:visited{
    outline: none;
  }
  .yancey_logo {
    width: 11rem;
    height: 2.2rem;
    margin-left: 1.5rem;
    background: url("../../../assets/images/yancey-official-blog-logo.png") no-repeat center top;
    background-size: cover;
    text-indent: -99999px;
  }
}

.clear_navbar_bg {
  box-shadow: none;
  background: transparent;
  transition: all .4s ease;
  &:hover {
    background: rgba(#fff, .95);
    box-shadow: 0 1px 40px -8px rgba(#000, .5);
  }
}

.yancey_nav_item {
  position: relative;
  display: inline-block;
  margin-right: 1.4rem;
  padding-right: .2rem;
  cursor: pointer;
  &:last-child::after {
    height: 0;
  }
  &::after {
    position: absolute;
    content: '';
    width: 0;
    height: 4px;
    background: $orange;
    bottom: 0;
    left: 0;
    transition: all 300ms ease;
  }
  &:hover::after {
    width: 100%;
    transition: all 300ms ease;
  }
  .icon_search {
    position: relative;
    top: .4rem;
    width: 1.3rem;
    height: 1.3rem;
    fill: #666;
  }
  a {
    display: block;
    height: 3.25rem;
    line-height: 3.25rem;
    color: $gray;
    .header_icon {
      position: relative;
      top: .1rem;
      width: .8rem;
      height: .8rem;
      fill: $gray;
      margin-right: .4rem;
    }
    .menu_name {
      text-transform: capitalize;
      transition: all 500ms linear;
    }
    &:hover {
      color: $orange;
      > .header_icon {
        fill: $orange;
      }
    }
    &:hover > .icon_home {
      :global {
        animation: horizontal 2s ease infinite;
      }
    }
    &:hover > .icon_blog {
      :global {
        animation: wrench 2s ease infinite;
      }
    }
    &:hover > .icon_archive {
      :global {
        animation: vertical 2s ease infinite;
      }
    }
    &:hover > .icon_music {
      :global {
        animation: tada 2s ease infinite;
      }
    }
    &:hover > .icon_photo {
      :global {
        animation: horizontal 2s ease infinite;
      }
    }
    &:hover > .icon_CV {
      :global {
        animation: wrench 2s ease infinite;
      }
    }
    &:hover > .icon_apps {
      :global {
        animation: pulse 2s ease infinite;
      }
    }
    &:hover > .icon_RSS {
      :global {
        animation: tada 2s ease infinite;
      }
    }
  }
}

@keyframes:global(horizontal) {
  0% {
    transform: translate(0, 0);
  }
  6% {
    transform: translate(5px, 0);
  }
  12% {
    transform: translate(0, 0);
  }
  18% {
    transform: translate(5px, 0);
  }
  24% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(5px, 0);
  }
  100%, 36% {
    transform: translate(0, 0);
  }
}

@keyframes:global(wrench) {
  0% {
    transform: rotate(-12deg);
  }
  8% {
    transform: rotate(12deg);
  }
  10% {
    transform: rotate(24deg);
  }
  18%, 20% {
    transform: rotate(-24deg);
  }
  28%, 30% {
    transform: rotate(24deg);
  }
  38%, 40% {
    transform: rotate(-24deg);
  }
  48%, 50% {
    transform: rotate(24deg);
  }
  58%, 60% {
    transform: rotate(-24deg);
  }
  68% {
    transform: rotate(24deg);
  }
  100%, 75% {
    transform: rotate(0);
  }
}

@keyframes:global(vertical) {
  0% {
    transform: translate(0, -3px);
  }
  4% {
    transform: translate(0, 3px);
  }
  8% {
    transform: translate(0, -3px);
  }
  12% {
    transform: translate(0, 3px);
  }
  16% {
    transform: translate(0, -3px);
  }
  20% {
    transform: translate(0, 3px);
  }
  100%, 22% {
    transform: translate(0, 0);
  }
}

@keyframes:global(tada) {
  0% {
    transform: scale(1);
  }
  10%, 20% {
    transform: scale(.9) rotate(-8deg);
  }
  30%, 50%, 70% {
    transform: scale(1.3) rotate(8deg);
  }
  40%, 60% {
    transform: scale(1.3) rotate(-8deg);
  }
  100%, 80% {
    transform: scale(1) rotate(0);
  }
}

@keyframes:global(pulse) {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.1);
  }
}
