// home motto
@font-face {
  font-family: 'Ubuntu Bold';
  src: url("../../assets/fonts/Ubuntu-Bold.ttf");
}

// header nav
@font-face {
  font-family: 'Ubuntu';
  src: url("../../assets/fonts/Ubuntu-Regular.ttf");
}

// code tag
@font-face {
  font-family: "Operator Mono";
  src: url("../../assets/fonts/Operator-Mono-Book-Regular.otf");
}

@font-face {
  font-family: "Merriweather Sans";
  src: url("../../assets/fonts/MerriweatherSans-Regular.ttf");
}

@font-face {
  font-family: "Brandon Light";
  src: url("../../assets/fonts/Brandon-Light.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  position: relative;
}

html, body{
  cursor: url("../image/cursor.ico"), auto;
}

.App {
  overflow: hidden;
}

// scrollbar beauty
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: rgba(#3a3a3a, .6);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  outline: none;
}

.no-user-select {
  user-select: none;
}

.target-fix {
  display: block;
  height: 3.25rem;
  margin-top: -3.25rem;
  visibility: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: rgba(#000, .6);
}

.clearfix::after{
  content:".";
  clear:both;
  display:block;
  height:0;
  overflow:hidden;
  visibility:hidden;
}
.clearfix{
  zoom:1
}


@media screen and (max-width: 1920px) {
  html {
    font-size: 20px;
  }
}

@media screen and (max-width: 1440px) {
  html {
    font-size: 18px;
  }
}

