// home motto
@font-face {
  font-family: 'Ubuntu Bold';
  src: url("../../assets/fonts/Ubuntu-Bold.ttf");
}

// header nav
@font-face {
  font-family: 'Ubuntu';
  src: url("../../assets/fonts/Ubuntu-Regular.ttf");
}

// code tag
@font-face {
  font-family: "Operator Mono";
  src: url("../../assets/fonts/Operator-Mono-Book-Regular.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  position: relative;
}

.App {
  overflow: hidden;
}

// scrollbar beauty
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #ffA500;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  outline: none;
}

.no-user-select {
  user-select: none;
}

.up-triangle {
  position: absolute;
  width: 0;
  height: 0;
  border: 18px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.5);
  top: -36px;
  left: 80px;
}

@media screen and (max-width: 1920px) {
  html {
    font-size: 20px;
  }
}

@media screen and (max-width: 1440px) {
  html {
    font-size: 18px;
  }
}

