.yancey-blog-home {
  color: #666;
  position: relative;
  .home-imax {
    position: relative;
    width: 100vw;
    height: 100vh;
    animation: header 1s;
    transition: 1s all linear;
    background: no-repeat fixed center top;
    background-size: cover;

    opacity: 0;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    will-change: transform;
    &::after {
      content: '';
      background: url("../../assets/image/dot.gif") 0 0 fixed;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      will-change: transform;
    }
    @at-root .glitch {
      position: relative;
      color: #fff;
      font-size: 4rem;
      z-index: 1;
      user-select: none;
      top: 36%;
      transition: all 400ms ease;
      max-width: 100%;
      text-align: center;
      letter-spacing: .25rem;
      &::before, &::after {
        content: attr(data-value);
        position: absolute;
        top: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0);
        clip: rect(0, 0, 0, 0)
      }

      &::before {
        left: -1px;
        text-shadow: 1px 0 #ff3f1a
      }

      &::after {
        left: 1px;
        text-shadow: -1px 0 #00a7e0;
      }

      &:hover::before {
        text-shadow: 4px 0 #ff3f1a;
        animation: glitch-loop-1 .8s infinite ease-in-out alternate-reverse
      }

      &:hover::after {
        text-shadow: -5px 0 #00a7e0;
        animation: glitch-loop-2 .8s infinite ease-in-out alternate-reverse
      }
    }
    @at-root .social-media-container {
      position: relative;
      z-index: 1;
      max-width: 27rem;
      margin: 0 auto;
      background: rgba(#000, .5);
      padding: 1rem;
      border-radius: 10px;
      top: 39%;
      //&::after{
      //  position: absolute;
      //  content: '';
      //  top: -8.2rem;
      //  right: -1.2rem;
      //  width: 4rem;
      //  height: 4rem;
      //  background: url(https://yancey-assets.oss-cn-beijing.aliyuncs.com/cap.12a740a.svg) no-repeat;
      //  background-size: contain;
      //  transform: rotate(15deg);
      //  transform-origin: bottom right;
      //  transition: all .2s;
      //}
      //&:hover::after{
      //  transform: rotate(20deg);
      //}
      .social-media-motto {
        font-weight: 700;
        font-size: .8rem;
        color: #eaeadf;
        display: flex;
        justify-content: center;
        margin-bottom: 1.2rem;
        max-height: .9rem;
        .left-quote, .right-quote {
          position: relative;
          width: .9rem;
          height: .9rem;
          fill: #fff;
          fill-opacity: .6;
          top: 1px;
        }
        .left-quote {
          margin-right: .4rem;
        }
        .right-quote {
          margin-right: 0;
          margin-left: .4rem;
        }
      }

      @at-root .social-media-list {
        text-align: center;
        .social-media-item:last-child {
          margin-right: 0;
        }

        .social-media-item {
          outline: none;
          position: relative;
          display: inline-block;
          margin-right: 1.4rem;
          svg {
            width: 22px;
            height: 22px;
          }
        }

        .wechat-qr-code {
          &::after {
            background: rgba(0, 0, 0, .5) url("//yancey-assets.oss-cn-beijing.aliyuncs.com/wechat-qr-code.jpg") no-repeat center top;
          }
        }

        .twitter-qr-code {
          &::after {
            background: rgba(0, 0, 0, .5) url("//yancey-assets.oss-cn-beijing.aliyuncs.com/twitter-qr-code.jpg") no-repeat center top;
          }
        }

        .qr-code {
          cursor: pointer;
          &::after, &::before {
            position: absolute;
            content: '';
            opacity: 0;
            visibility: hidden;
            transform: translate3d(0, 16px, 0);
            transition: 700ms all ease;
          }
          &::after {
            width: 120px;
            height: 120px;
            padding: 10px;
            border-radius: 12px;
            background-size: cover;
            background-origin: content-box;
            top: 62px;
            left: -58px;
          }
          &::before {
            width: 0;
            height: 0;
            border: 16px solid transparent;
            border-bottom-color: rgba(0, 0, 0, 0.5);
            top: 30px;
            left: -4px;
          }
          &:hover::after, &:hover::before {
            opacity: 1;
            visibility: visible;
            transform: translate3d(0, 0, 0);
            transition: 700ms all ease;
          }
        }

        svg.arrow {
          width: 20px;
          height: 20px;
          position: relative;
          top: -1px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
  .content {
    max-width: 40rem;
    margin: 3rem auto 1rem;
    .announcement-wrapper {
      border: 1px dashed #e6e6e6;
      color: #969696;
      padding: 1rem;
      border-radius: 10px;
      font-size: .8rem;
      background: #fbfbfb;
    }
    @at-root .new-release-container {
      display: flex;
      justify-content: space-around;
      .new-release {
        overflow: hidden;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
        border-radius: 10px;
        .new-release-content {
          position: relative;
          width: 13rem;
          height: 8rem;
          background: no-repeat center top;
          background-size: cover;
          transition: all 400ms linear;
          &:hover {
            .overlay {
              visibility: visible;
              opacity: 1;
              transition: all 400ms linear;
            }
          }
          &:hover::before {
            left: 50%;
            width: 100%;
            text-align: center;
            transform: translate3d(-50%, -50%, 0);
          }
          &:hover::after {
            left: 0;
          }
          &::after {
            position: absolute;
            content: attr(data-title);
            left: 13rem;
            background: #000;
            color: #fff;
            width: 100%;
            margin-top: 1.4rem;
            padding: .5rem 0;
            text-align: center;
            font-size: .9rem;
            transition: all 400ms linear;
          }
          &::before {
            width: 100%;
            position: absolute;
            content: attr(data-intro);
            bottom: 1rem;
            left: -50%;
            transform: translate3d(-50%, -50%, 0);
            color: #bbb;
            font-size: .6rem;
            font-style: italic;
            letter-spacing: 1px;
            z-index: 2;
            transition: all 400ms linear;
          }
          .overlay {
            visibility: hidden;
            position: absolute;
            opacity: 0;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            background: rgba(#000, .6);
            transition: all 400ms linear;
          }
        }
      }
    }
  }
  .show-more-btn-wrapper {
    text-align: center;
    margin-top: 4rem;
    a {
      display: inline-block;
      font-family: "Ubuntu", sans-serif;
      padding: .5rem 2.75rem;
      border: 2px solid #F12742;
      border-radius: 1.75rem;
      color: #F12742;
      transition-property: transform, opacity, visibility;
      transition-duration: 0.25s, 0.15s, 0s;
      transition-timing-function: cubic-bezier(0.31, 0.32, 0.38, 2), linear, linear;
      transition-delay: 0s, 0s, 0.15s;
      transform: scale3d(1, 1, 1);
      &:hover {
        box-shadow: 0 0 4px rgba(#F12742, .85);
        transform: scale3d(1.05, 1.05, 1);
      }
    }
  }
  .blog-summary-tips, .new-release-tips {
    color: #666;
    font-size: .9rem;
    font-weight: 400;
    padding-bottom: .4rem;
    border-bottom: 1px dashed #ececec;
    width: 40rem;
    margin: 4rem auto 2rem;
  }

  .icon {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: .6rem;
    position: relative;
    top: 4px;
  }
}

.up-triangle {
  position: absolute;
  width: 0;
  height: 0;
  border: 18px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.5);
  top: -36px;
  left: 80px;
}

@keyframes main {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes glitch-loop-1 {
  0% {
    clip: rect(36px, 9999px, 9px, 0)
  }
  25% {
    clip: rect(25px, 9999px, 99px, 0)
  }
  50% {
    clip: rect(50px, 9999px, 102px, 0)
  }
  75% {
    clip: rect(30px, 9999px, 92px, 0)
  }
  100% {
    clip: rect(91px, 9999px, 98px, 0)
  }
}

@keyframes glitch-loop-2 {
  0% {
    top: -1px;
    left: 1px;
    clip: rect(65px, 9999px, 119px, 0)
  }
  25% {
    top: -6px;
    left: 4px;
    clip: rect(79px, 9999px, 19px, 0)
  }
  50% {
    top: -3px;
    left: 2px;
    clip: rect(68px, 9999px, 11px, 0)
  }
  75% {
    top: 0;
    left: -4px;
    clip: rect(95px, 9999px, 53px, 0)
  }
  100% {
    top: -1px;
    left: -1px;
    clip: rect(31px, 9999px, 149px, 0)
  }
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
