.bg_header {
  display: flex;
  justify-content: center;
  padding-top: 15rem;
  width: 100%;
  height: 22rem;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  span {
    font-size: 3rem;
    background: -webkit-gradient(linear, right top, left top, color-stop(33%, #c4987a), color-stop(73%, #ffd5bf));
    background: -webkit-linear-gradient(right, #c4987a 33%, #ffd5bf 73%);
    background: linear-gradient(to left, #c4987a 33%, #ffd5bf 73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-font-smoothing: antialiased;
  }
}

.main_content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 2rem;
  width: 62rem;
  margin: 3rem auto 0;
  .no_articles {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.8rem;
    color: #fc625d;
  }
  .back{
    display: block;
    padding: .5rem 2.75rem;
    border: 2px solid #F12742;
    border-radius: 1.75rem;
    color: #F12742;
    text-align: center;
    margin: 2rem auto;
    width: 8rem;
  }
}

.pagination_list {
  display: flex;
  justify-content: space-around;
  width: 32rem;
  margin: 0 auto;
  .pagination_item {
    display: inline-block;
    width: 2.2rem;
    height: 2.2rem;
    border: 1px solid #8f8f8f;
    border-radius: 50%;
    text-align: center;
    transition: all 100ms linear;
    &:hover {
      border: 1px solid #ffA500;
      transition: all 100ms linear;
    }
    &:hover a {
      color: #ffA500;
    }
    a {
      display: inline-block;
      width: 100%;
      color: #8f8f8f;
      line-height: 2.2rem;
      text-align: center;
    }
  }
}

.aside_wrapper {
  margin-top: .2rem;
  .tags_container {
    margin: .2rem 0 4rem;
  }
}

.aside_title {
  display: flex;
  align-items: center;
  width: 12rem;
  margin-bottom: .8rem;
  padding-left: .2rem;
  padding-bottom: .4rem;
  border-bottom: 1px dashed #e6e6e6;
  .title_icon {
    width: 1.2rem;
    height: 1.2rem;
  }
  .title_name {
    margin-left: .6rem;
    font-size: .9rem;
    font-weight: 400;
    color: #666;
  }
}

:global(.rc-pagination) {
  margin: 1rem 0;
  :global(.rc-pagination-prev) {
    outline: none !important;
    border-radius: 50% !important;
  }
  :global(.rc-pagination-next) {
    outline: none !important;
    border-radius: 50% !important;
  }
  :global(.rc-pagination-item) {
    outline: none !important;
    border-radius: 50% !important;
  }
  :global(button) {
    outline: none !important;
  }
}

