.apps_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  margin: 4.25rem auto 0;
  width: 72rem;
  height: 100%;
  text-align: center; }
  .apps_wrapper .platform {
    padding: 3.7rem 0 6.6rem; }
    .apps_wrapper .platform .platform_title {
      margin-bottom: .35rem;
      font-size: .7rem;
      line-height: 1.8rem;
      font-weight: 500;
      letter-spacing: .1rem;
      color: rgba(0, 0, 0, 0.5); }
    .apps_wrapper .platform .platform_type {
      font-size: 1.4rem;
      margin-bottom: 3.8rem;
      font-weight: 300;
      line-height: 1.45rem;
      letter-spacing: .1rem; }
    .apps_wrapper .platform a {
      color: #39b3ed; }
  .apps_wrapper .mobile_wrapper {
    background-color: #EDF8F5; }
    .apps_wrapper .mobile_wrapper .phone_list {
      display: flex;
      justify-content: space-around;
      width: 18rem;
      margin: 0 auto 0; }
      .apps_wrapper .mobile_wrapper .phone_list .phone_item {
        display: inline-block;
        height: 12rem;
        background: no-repeat center top;
        background-size: cover; }
        .apps_wrapper .mobile_wrapper .phone_list .phone_item .platform_name {
          display: inline-block;
          margin-top: 13rem;
          font-size: .7rem;
          color: rgba(29, 33, 41, 0.65);
          background-color: #FFF;
          line-height: 1.45rem;
          padding: 0 .85rem;
          border-radius: 1rem; }
      .apps_wrapper .mobile_wrapper .phone_list .mobile_android {
        width: 6.48rem;
        background-image: url("//yancey-assets.oss-cn-beijing.aliyuncs.com/phone-android.png"); }
      .apps_wrapper .mobile_wrapper .phone_list .mobile_iOS {
        width: 5.7rem;
        background-image: url("//yancey-assets.oss-cn-beijing.aliyuncs.com/phone-iphone.png"); }
    .apps_wrapper .mobile_wrapper .mobile_download_url {
      margin: 5.05rem auto 0;
      width: 60%;
      font-size: 1.15rem;
      font-weight: 300;
      line-height: 1.6; }
  .apps_wrapper .desktop_wrapper {
    background-color: #FAF7EB; }
    .apps_wrapper .desktop_wrapper .desktop_mac {
      margin: 3.8rem auto 1rem;
      width: 20.61rem;
      height: 12rem;
      background: url("//yancey-assets.oss-cn-beijing.aliyuncs.com/native-mac.png") no-repeat center top;
      background-size: cover; }
    .apps_wrapper .desktop_wrapper .mac_version_support {
      width: 20rem;
      margin: 0 auto;
      font-size: .7rem;
      line-height: 1.1rem;
      color: rgba(65, 74, 83, 0.4); }
      .apps_wrapper .desktop_wrapper .mac_version_support a {
        color: rgba(65, 74, 83, 0.4);
        border-bottom: 1px solid rgba(65, 74, 83, 0.4); }
    .apps_wrapper .desktop_wrapper .download_btn {
      margin: 3rem auto 3.5rem;
      background-color: #01E675;
      border: none;
      border-radius: 2rem; }
      .apps_wrapper .desktop_wrapper .download_btn a {
        display: inline-block;
        padding: .9rem 1.6rem;
        color: #fff;
        font-size: .8rem;
        font-weight: 300;
        line-height: .95rem;
        letter-spacing: .1rem; }
    .apps_wrapper .desktop_wrapper .not_mac {
      margin-bottom: 1rem;
      font-size: .675rem;
      color: rgba(0, 0, 0, 0.5);
      letter-spacing: .1rem; }
    .apps_wrapper .desktop_wrapper .window_download_url {
      font-size: .85rem; }
  .apps_wrapper .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100; }
    .apps_wrapper .overlay dialog {
      margin-top: 50vh;
      margin-left: 50vw;
      transform: translate(-50%, -50%);
      font-size: 1rem;
      width: 30rem;
      height: 12.5rem;
      padding: 1.5rem;
      border: none;
      border-radius: 6px;
      color: #f6f6f6;
      background: rgba(30, 190, 165, 0.6); }
      .apps_wrapper .overlay dialog h1 {
        font-weight: 100;
        letter-spacing: .1rem; }
      .apps_wrapper .overlay dialog p {
        margin: .4rem 0;
        line-height: 1.6;
        font-weight: 100;
        letter-spacing: .05rem; }
      .apps_wrapper .overlay dialog button {
        width: 7.5rem;
        margin: 1rem auto;
        background: none;
        text-align: center;
        vertical-align: middle;
        border: 1px solid #fff;
        border-radius: 7px;
        outline: none; }
        .apps_wrapper .overlay dialog button a {
          display: block;
          font-size: .75rem;
          padding: .6rem 0;
          color: #f6f6f6; }
          .apps_wrapper .overlay dialog button a:hover {
            color: #ffbb39; }
        .apps_wrapper .overlay dialog button:hover {
          border-color: #ffbb39;
          cursor: pointer;
          opacity: 1; }

/*# sourceMappingURL=apps.module.css.map */
