.apps_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  margin: 0 auto;
  padding-top: 4.25rem;
  width: 72rem;
  height: 100%;
  text-align: center;
  @at-root .platform {
    padding: 3.7rem 0 6.6rem;
    .platform_title {
      margin-bottom: .35rem;
      font-size: .7rem;
      line-height: 1.8rem;
      font-weight: 500;
      letter-spacing: .1rem;
      color: rgba(#000, 0.5);
    }
    .platform_type {
      font-size: 1.4rem;
      margin-bottom: 3.8rem;
      font-weight: 300;
      line-height: 1.45rem;
      letter-spacing: .1rem;
    }
    a {
      color: #39b3ed;
    }
  }
  .mobile_wrapper {
    background-color: #EDF8F5;
    @at-root .phone_list {
      display: flex;
      justify-content: space-around;
      width: 18rem;
      margin: 0 auto 0;
      .phone_item {
        display: inline-block;
        height: 12rem;
        background: no-repeat center top;
        background-size: cover;
        .platform_name {
          display: inline-block;
          margin-top: 13rem;
          font-size: .7rem;
          color: rgba(#1D2129, .65);
          background-color: #FFF;
          line-height: 1.45rem;
          padding: 0 .85rem;
          border-radius: 1rem;
        }
      }
      .mobile_android {
        width: 6.48rem;
        background-image: url($andriod);
      }
      .mobile_iOS {
        width: 6rem;
        background-image: url($iOS);
      }
    }
    .mobile_download_url {
      margin: 5.05rem auto 0;
      width: 60%;
      font-size: 1.15rem;
      font-weight: 300;
      line-height: 1.6;
    }
  }
  @at-root .desktop_wrapper {
    background-color: #FAF7EB;
    .desktop_mac {
      margin: 3.8rem auto 1rem;
      width: 20.61rem;
      height: 12rem;
      background: url($mac) no-repeat center top;
      background-size: cover;
    }
    .mac_version_support {
      width: 20rem;
      margin: 0 auto;
      font-size: .7rem;
      line-height: 1.1rem;
      color: rgba(#414A53, .4);
      a {
        color: rgba(#414A53, .4);
        border-bottom: 1px solid rgba(#414A53, .4);
      }

    }
    .download_btn {
      margin: 3rem auto 3.5rem;
      background-color: #01E675;
      border: none;
      border-radius: 2rem;
      a {
        display: inline-block;
        padding: .9rem 1.6rem;
        color: #fff;
        font-size: .8rem;
        font-weight: 300;
        line-height: .95rem;
        letter-spacing: .1rem;
      }
    }
    .not_mac {
      margin-bottom: 1rem;
      font-size: .675rem;
      color: rgba(#000, .5);
      letter-spacing: .1rem;
    }
    .window_download_url {
      font-size: .85rem;
    }
  }
  @at-root .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(#000, .8);
    z-index: 100;
    div {
      margin-top: 50vh;
      margin-left: 50vw;
      transform: translate(-50%, -50%);
      font-size: 1rem;
      width: 30rem;
      height: 12.5rem;
      padding: 1.5rem;
      border: none;
      border-radius: 6px;
      color: #f6f6f6;
      background: rgba(#1ebea5, .6);
      h1{
        font-weight: 100;
        letter-spacing: .1rem;
      }
      p {
        margin: .4rem 0;
        line-height: 1.6;
        font-weight: 100;
        letter-spacing: .05rem;
      }
      button {
        width: 7.5rem;
        margin: 1rem auto;
        background: none;
        text-align: center;
        vertical-align: middle;
        border: 1px solid #fff;
        border-radius: 7px;
        outline: none;
        a {
          display: block;
          font-size: .75rem;
          padding: .6rem 0;
          color: #f6f6f6;
          &:hover {
            color: #ffbb39;
          }
        }
        &:hover {
          border-color: #ffbb39;
          cursor: pointer;
          opacity: 1;
        }
      }
    }
  }
}
