.apps_wrapper {
  height: calc(100vh - #{rem(70)});
  max-height: calc(100vh - #{rem(70)});
  padding-top: rem(40);
  color: $black;
  text-align: center;
  color: $black;
  background-color: #d0e9ea;
  overflow: hidden;

  .logo {
    margin: 0 auto;
    width: rem(76);
    height: rem(76);
    background-image: url(#{$logo});
    @include background_default;
    border-radius: 50%;
  }

  .keywords {
    margin: rem(30) auto rem(4);
    max-width: rem(300);
    font-size: 25px;
    font-weight: 300;
    line-height: 1.2;
    opacity: .8;
  }

  .intro {
    padding: rem(10) rem(35) 0;
    font-size: 16px;
    line-height: 1.4;
    opacity: .8;
  }

  .terminal {
    margin: rem(32) auto;
    width: rem(162);
    height: rem(48);

    img {
      width: 100%;
      height: 100%;
    }
  }

  .mobile_img {
    margin: 0 rem(34);
    height: 100%;
    background-image: url('https://www-cdn.whatsapp.net/img/v4/home-phone-mobile.png');
    @include background_default;
  }
}