@charset "UTF-8";

$axis: #6ecaf5;
$circle: #00bbff;
$shadow: #bbb;
$white: #fff;
$black: #000;

.archive_wrapper {
  margin: 10rem auto 0;
  max-width: 40rem;
  font-size: .8rem;
}

.year {
  font-size: 1rem;
  font-weight: bold;
  margin-left: 5.7rem;
}

.year_list_wrapper {
  position: relative;
  padding: .5rem 0;
  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 7rem;
    width: 4px;
    height: 100%;
    background: $axis;
    z-index: -1;
  }
  .month {
    position: relative;
    display: block;
    &::after {
      position: absolute;
      content: '';
      top: .2rem;
      left: 6.65rem;
      width: .9rem;
      height: .9rem;
      background: $white;
      border-radius: 50%;
      box-shadow: 1px 1px 1px #bbb;
      z-index: 1;
    }
    &::before {
      position: absolute;
      content: '';
      top: .35rem;
      left: 6.8rem;
      width: .6rem;
      height: .6rem;
      background: $circle;
      border-radius: 50%;
      z-index: 2;
    }
  }

  .day_list_container {
    padding-left: 8.2rem;
    /*   */
    max-height: 0;
    overflow: hidden;
    transition: all 500ms linear;
  }

  label {
    cursor: s-resize;
  }
  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  input:checked ~ .day_list_container {
    max-height: 20rem;
    transition: all 1s linear;
  }

  .day_item {
    position: relative;
    line-height: 1.8;
    &::after {
      position: absolute;
      content: '';
      top: .4rem;
      left: -1.4rem;
      width: .6rem;
      height: .6rem;
      background: $white;
      border-radius: 50%;
      box-shadow: 1px 1px 1px #bbb;
      z-index: 1;
    }
    &::before {
      position: absolute;
      content: '';
      left: -1.3rem;
      top: .5rem;
      width: .4rem;
      height: .4rem;
      background: $circle;
      border-radius: 50%;
      z-index: 2;
    }
    .day {
      color: $circle;
    }
    a {
      color: $black;
    }
  }

}
