.archive_wrapper {
  margin-top: 3.25rem; }
  .archive_wrapper .bg_header {
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 15rem;
    width: 100%;
    height: 20rem;
    background: no-repeat 10% 60%;
    background-size: cover; }
    .archive_wrapper .bg_header span {
      font-size: 3rem;
      background: -webkit-gradient(linear, right top, left top, color-stop(33%, #c4987a), color-stop(73%, #ffd5bf));
      background: -webkit-linear-gradient(right, #c4987a 33%, #ffd5bf 73%);
      background: linear-gradient(to left, #c4987a 33%, #ffd5bf 73%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      -webkit-font-smoothing: antialiased; }

.archive_container {
  margin: 1rem auto 0;
  max-width: 40rem;
  font-family: "Brandon Light", sans-serif;
  font-size: .8rem;
  font-weight: bold; }

.fold_unfold_wrapper {
  display: flex;
  width: 8rem;
  margin: 2rem 32rem 0; }
  .fold_unfold_wrapper .btn {
    padding: 0 1rem;
    height: 1.8rem;
    font-size: .7rem;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer; }
  .fold_unfold_wrapper .left_btn {
    background: #e0e1e2;
    color: rgba(0, 0, 0, 0.6);
    border-top-left-radius: .2rem;
    border-bottom-left-radius: .2rem;
    transition: all .2s linear; }
    .fold_unfold_wrapper .left_btn:hover {
      color: rgba(0, 0, 0, 0.8);
      background: #cacbcd;
      transition: all .2s linear; }
  .fold_unfold_wrapper .right_btn {
    background: #21ba45;
    color: #fff;
    border-top-right-radius: .2rem;
    border-bottom-right-radius: .2rem;
    transition: all .2s linear; }
    .fold_unfold_wrapper .right_btn:hover {
      background: #13ae38;
      transition: all .2s linear; }
  .fold_unfold_wrapper .or {
    position: relative;
    width: .2rem;
    height: 1.8rem; }
    .fold_unfold_wrapper .or::before {
      position: absolute;
      text-align: center;
      border-radius: 50%;
      content: 'or';
      top: 50%;
      left: 50%;
      background-color: #fff;
      text-shadow: none;
      margin-top: -.6rem;
      margin-left: -.6rem;
      width: 1.2rem;
      height: 1.2rem;
      line-height: 1.2rem;
      color: rgba(0, 0, 0, 0.4);
      font-style: normal;
      font-weight: 700;
      box-shadow: 0 0 0 1px transparent inset; }

.archive_list_wrapper {
  max-width: 40rem;
  margin: 0 auto; }

.year {
  font-size: 1rem;
  font-weight: bold;
  margin-left: 6rem; }

.year_list_wrapper {
  position: relative;
  padding: .5rem 0; }
  .year_list_wrapper::after {
    position: absolute;
    content: '';
    top: 0;
    left: 7rem;
    width: 4px;
    height: 100%;
    background: #6ecaf5;
    z-index: -1; }
  .year_list_wrapper .month {
    position: relative;
    display: block;
    line-height: 1.8; }
    .year_list_wrapper .month::after {
      position: absolute;
      content: '';
      top: .2rem;
      left: 6.65rem;
      width: .9rem;
      height: .9rem;
      background: #fff;
      border-radius: 50%;
      box-shadow: 1px 1px 1px #bbb;
      z-index: 0; }
    .year_list_wrapper .month::before {
      position: absolute;
      content: '';
      top: .35rem;
      left: 6.8rem;
      width: .6rem;
      height: .6rem;
      background: #00bbff;
      border-radius: 50%;
      z-index: 1; }
  .year_list_wrapper .day_list_container {
    padding-left: 8.2rem;
    max-height: 0;
    will-change: transform;
    overflow: hidden;
    transition: all 1s linear; }
  .year_list_wrapper label {
    cursor: s-resize; }
  .year_list_wrapper input {
    position: absolute;
    opacity: 0;
    z-index: -1; }
  .year_list_wrapper input:checked ~ .day_list_container {
    max-height: 20rem;
    will-change: transform;
    transition: all 1s linear; }
  .year_list_wrapper .day_item {
    position: relative;
    line-height: 2; }
    .year_list_wrapper .day_item::after {
      position: absolute;
      content: '';
      top: .4rem;
      left: -1.4rem;
      width: .6rem;
      height: .6rem;
      background: #fff;
      border-radius: 50%;
      box-shadow: 1px 1px 1px #bbb;
      z-index: 0; }
    .year_list_wrapper .day_item::before {
      position: absolute;
      content: '';
      left: -1.3rem;
      top: .5rem;
      width: .4rem;
      height: .4rem;
      background: #00bbff;
      border-radius: 50%;
      z-index: 1; }
    .year_list_wrapper .day_item .day {
      color: #00bbff; }
    .year_list_wrapper .day_item a {
      font-size: .75rem;
      color: #504e4e;
      transition: all 200ms linear; }
      .year_list_wrapper .day_item a:hover {
        color: #ffa500;
        transition: all 200ms linear; }

/*# sourceMappingURL=archive.module.css.map */
