$pink: #d62b6b;
$text: #4a4a4a;
$gray: #4a4a4a;
$gray_outline: #bebebe;
$white: #fff;
$aoi: #35c0c0;
$slider_height: 25.8rem;

.post_container {
  position: relative;
  height: 12.4rem;
  &::before {
    content: '';
    position: absolute;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    top: 2px;
    left: 2px;
    outline: 2px dashed $gray_outline;
  }
  img {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    position: relative;
    top: 1px;
    left: 1px;
    object-fit: cover;
  }
}

.meta_intro {
  position: absolute;
  padding: 1rem 1.5rem;
  left: 1px;
  bottom: 1px;
  width: calc(100% - 2px);
  background: hsla(0, 0%, 100%, 0.9);
  overflow: hidden;
}

.meta_date {
  color: $pink;
  display: block;
  font-size: 0.6rem;
}

.meta_title {
  color: $gray;
  margin-right: 1.5rem;
  padding: 0.75rem 0 1.5rem;
}

.meta_title_artist {
  font-size: 0.7rem;
  color: rgba(#000, 0.4);
}

.column_title {
  padding: 2rem 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'PingFang SC',
    'Hiragino Sans GB', 'Heiti SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei',
    sans-serif;
  font-size: 1.1rem;
  color: $text;
  font-weight: 300;
}

.music_split {
  border: 0;
  border-top: 1px solid $pink;
  margin-top: 0.4rem;
  margin-bottom: 1.6rem;
  margin-left: 0;
  width: 3rem;
}

.music_btn {
  border: 1px solid $aoi;
  border-radius: 2rem;
  color: $aoi;
  padding: 0.35rem 1.4rem;
  font-size: 0.75rem;
  transition: all 200ms linear;
  &:hover {
    background: $aoi;
    color: $white;
    transition: all 200ms linear;
  }
}

.music_wrapper {
  font-family: 'Ubuntu', sans-serif;
}

// part 1
.bg_cover {
  height: 22rem;
  background: no-repeat center top;
  background-size: cover;
  font-size: 2rem;
  color: $text;
  padding-top: 11rem;
  padding-left: 2rem;
  text-shadow: 8px 8px 1px rgba(44, 46, 47, 0.1);
  h1 {
    font-weight: 100;
  }
  p {
    margin: 0.5rem 0 0 0.5rem;
    letter-spacing: 0.2rem;
    font-weight: 100;
  }
}

.live_tours_artists_wrapper {
  width: 72rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  .live_tour_container {
    width: 35.5rem;
  }
}

.live_tours_container {
  height: $slider_height;
  .live_tour_title {
    font-size: 1.1rem;
  }
}

.artists_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  height: $slider_height;
}

// part 2
.featured_records_wrapper {
  margin-top: 3.5rem;
  box-shadow: inset 0 0 30px 0 rgba(0, 0, 0, 0.5);
  background: url('../../assets/images/stripes_grey.png') repeat 0 0;
  .featured_records_container {
    width: 72rem;
    margin: 0 auto;
    padding-bottom: 2rem;
  }
}

.featured_records_list {
  display: flex;
  justify-content: space-between;
  .featured_record_item {
    display: inline-block;
    width: 16.5rem;
    height: 29rem;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.5);
    .record_cover {
      width: 100%;
      height: 16.5rem;
      background: no-repeat center top;
      background-size: cover;
    }
  }
}

.record_intro {
  height: 12.5rem;
  padding: 1rem 1.5rem;
  background: $white;
  .record_title {
    max-height: 5.15rem;
    min-height: 5.15rem;
    margin-right: 0;
  }
}

// part 3
.yancey_music_container {
  width: 72rem;
  margin: 0 auto;
  .yancey_music_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

/* reset slider style */
:global(.slider-control-bottomcenter) {
  display: none !important;
}

:global(.slider-control-centerleft) {
  display: none !important;
}

:global(.slider-control-centerright) {
  display: none !important;
}
