.music_wrapper {

  img {
    width: 100%;
    height: rem(236);
    object-fit: cover;
  }

  .music_container {
    padding: rem(24);
  }

  h2 {
    margin-bottom: rem(24);
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    color: $switchGray;
  }
}