.cv_wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 2rem;
  width: 60rem;
  margin: 0 auto;
  padding-top: 5rem;
}

.cv_basic_container {
  width: 100%;
  background: #354B6F;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 10px, rgba(0, 0, 0, 0.23) 0 3px 10px;
  border-radius: .5rem;

  .avatar {
    height: 13rem;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
  }

  .cv_basic {
    padding-top: 1rem;
    text-align: center;
    color: #fff;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;

    .identity {
      line-height: 1.8;
      font-size: .9rem;
    }

    .name {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .media {
      a {
        text-decoration: none;
        color: #fff;
        border-bottom: 1px solid #fff;
      }
    }

    @at-root .self_introduction {
      padding: 1rem;

      .self_introduction_content {
        margin-bottom: 1rem;
        font-size: .8rem;
        text-align: left;
        line-height: 1.6;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.cv_detail_container {
  .cv_detail_item {
    display: flex;
    align-items: center;
    margin: 1rem 0;

    &:first-child {
      margin-top: 0;
    }

    .item_icon {
      width: 2.4rem;
      height: 2.4rem;
      fill: rgba(0, 0, 0, .54);
    }

    .item_name {
      margin-left: 1rem;
      font-size: 1.4rem;
      font-weight: bold;
      color: rgba(0, 0, 0, .54);
    }
  }
}