.bg_img {
  width: 100%;
  height: 20rem;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.target_fix {
  display: block;
  height: 3.5rem;
  margin-top: -3.5rem;
  visibility: hidden;
}

.privacy_policy_container {
  margin: 3rem auto 2rem;
  width: 40rem;
  font-family: Roboto, sans-serif;
  color: #2c2e2f;
  @at-root .anchor {
    margin-left: 0;
    margin-bottom: 3rem;
    li {
      list-style-type: none;
      margin: .9rem 0;
      a {
        font-size: .9rem;
        color: #0070ba;
      }
    }
  }
  ul {
    margin-left: 1.7rem;
    li {
      list-style-type: disc;
    }
  }
  h1 {
    font-size: 1.8rem;
    margin-bottom: 3rem;
    font-weight: 300;
  }
  h2 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
  }
  h3 {
    font-size: .9rem;
    font-weight: bold;
    color: #000;
  }
  p {
    margin: .9rem 0;
    font-size: .8rem;
    text-shadow: 0 0 1px rgba(44, 46, 47, .1);
    line-height: 1.8;
    font-weight: 300;
    a {
      color: #0070ba;
    }
    span {
      color: #6B6B6B;
      font-weight: bold;
    }
  }
  .update_date {
    font-size: .6rem;
    font-weight: bold;
    text-shadow: none;
    margin-top: .4rem;
  }
}
