$ossBaseUrl: '//yancey-assets.oss-cn-beijing.aliyuncs.com/';

$wechatQR: #{$ossBaseUrl}#{'wechat-official-account.jpg'};
$twitterQR: #{$ossBaseUrl}#{'twitter-qr-code.jpg'};
$xmas: #{$ossBaseUrl}#{'cap.12a740a.svg'};
$andriod: #{$ossBaseUrl}#{'phone-android.png'};
$mac: #{$ossBaseUrl}#{'mbp_effect.png'};
$iOS: #{$ossBaseUrl}#{'ios_effect_meitu_1.png'};

$black: #000;