// iamges
$ossBaseUrl: '//yancey-assets.oss-cn-beijing.aliyuncs.com/';

$wechatQR: #{$ossBaseUrl}#{'wechat-qr-code.jpg'};
$twitterQR: #{$ossBaseUrl}#{'twitter-qr-code.jpg'};
$xmas: #{$ossBaseUrl}#{'cap.12a740a.svg'};
$andriod: #{$ossBaseUrl}#{'phone-android.png'};
$iOS: #{$ossBaseUrl}#{'phone-iphone.png'};
$mac: #{$ossBaseUrl}#{'native-mac.png'};

$black: #000;