// layout
.layout {
  position: relative;
  width: 100%;
  min-height: 100%;
  z-index: 2;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $darkMenuBgColor;
    z-index: 400;
    opacity: 0;
    visibility: hidden;
    transition: all 400ms linear;
  }
}

.show_nav {
  position: fixed;
  transform: translateX(85vw);
  transition: all 400ms linear;
}

.show_nav.layout {
  &::before {
    opacity: 1;
    visibility: visible;
  }
}

.animatable.layout {
  transition: all 400ms linear;
}

// main
.main_content {
  min-height: 100vh;
  padding-top: rem(70);
  background: $lightBgColor;
}

// loading
.loading_wrapper {
  position: fixed;
  z-index: 1100;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: $white;
  justify-content: center;
  align-items: center;
}

.loading_item {
  font-size: 8px;
  position: relative;
  z-index: 1001;
  width: 1em;
  height: 1em;
  transform: translateZ(0);
  animation: loading 1.1s infinite ease;
  text-indent: -9999em;
  border-radius: 50%;
}

@keyframes loading {

  0%,
  100% {
    box-shadow: 0 -2.6em 0 0 $loadingBg, 1.8em -1.8em 0 0 rgba($loadingBg, .2), 2.5em 0 0 0 rgba($loadingBg, .2), 1.75em 1.75em 0 0 rgba($loadingBg, .2), 0 2.5em 0 0 rgba($loadingBg, .2), -1.8em 1.8em 0 0 rgba($loadingBg, .2), -2.6em 0 0 0 rgba($loadingBg, .5), -1.8em -1.8em 0 0 rgba($loadingBg, .7);
  }

  12.5% {
    box-shadow: 0 -2.6em 0 0 rgba($loadingBg, .7), 1.8em -1.8em 0 0 $loadingBg, 2.5em 0 0 0 rgba($loadingBg, .2), 1.75em 1.75em 0 0 rgba($loadingBg, .2), 0 2.5em 0 0 rgba($loadingBg, .2), -1.8em 1.8em 0 0 rgba($loadingBg, .2), -2.6em 0 0 0 rgba($loadingBg, .2), -1.8em -1.8em 0 0 rgba($loadingBg, .5);
  }

  25% {
    box-shadow: 0 -2.6em 0 0 rgba($loadingBg, .5), 1.8em -1.8em 0 0 rgba($loadingBg, .7), 2.5em 0 0 0 $loadingBg, 1.75em 1.75em 0 0 rgba($loadingBg, .2), 0 2.5em 0 0 rgba($loadingBg, .2), -1.8em 1.8em 0 0 rgba($loadingBg, .2), -2.6em 0 0 0 rgba($loadingBg, .2), -1.8em -1.8em 0 0 rgba($loadingBg, .2);
  }

  37.5% {
    box-shadow: 0 -2.6em 0 0 rgba($loadingBg, .2), 1.8em -1.8em 0 0 rgba($loadingBg, .5), 2.5em 0 0 0 rgba($loadingBg, .7), 1.75em 1.75em 0 0 $loadingBg, 0 2.5em 0 0 rgba($loadingBg, .2), -1.8em 1.8em 0 0 rgba($loadingBg, .2), -2.6em 0 0 0 rgba($loadingBg, .2), -1.8em -1.8em 0 0 rgba($loadingBg, .2);
  }

  50% {
    box-shadow: 0 -2.6em 0 0 rgba($loadingBg, .2), 1.8em -1.8em 0 0 rgba($loadingBg, .2), 2.5em 0 0 0 rgba($loadingBg, .5), 1.75em 1.75em 0 0 rgba($loadingBg, .7), 0 2.5em 0 0 $loadingBg, -1.8em 1.8em 0 0 rgba($loadingBg, .2), -2.6em 0 0 0 rgba($loadingBg, .2), -1.8em -1.8em 0 0 rgba($loadingBg, .2);
  }

  62.5% {
    box-shadow: 0 -2.6em 0 0 rgba($loadingBg, .2), 1.8em -1.8em 0 0 rgba($loadingBg, .2), 2.5em 0 0 0 rgba($loadingBg, .2), 1.75em 1.75em 0 0 rgba($loadingBg, .5), 0 2.5em 0 0 rgba($loadingBg, .7), -1.8em 1.8em 0 0 $loadingBg, -2.6em 0 0 0 rgba($loadingBg, .2), -1.8em -1.8em 0 0 rgba($loadingBg, .2);
  }

  75% {
    box-shadow: 0 -2.6em 0 0 rgba($loadingBg, .2), 1.8em -1.8em 0 0 rgba($loadingBg, .2), 2.5em 0 0 0 rgba($loadingBg, .2), 1.75em 1.75em 0 0 rgba($loadingBg, .2), 0 2.5em 0 0 rgba($loadingBg, .5), -1.8em 1.8em 0 0 rgba($loadingBg, .7), -2.6em 0 0 0 $loadingBg, -1.8em -1.8em 0 0 rgba($loadingBg, .2);
  }

  87.5% {
    box-shadow: 0 -2.6em 0 0 rgba($loadingBg, .2), 1.8em -1.8em 0 0 rgba($loadingBg, .2), 2.5em 0 0 0 rgba($loadingBg, .2), 1.75em 1.75em 0 0 rgba($loadingBg, .2), 0 2.5em 0 0 rgba($loadingBg, .2), -1.8em 1.8em 0 0 rgba($loadingBg, .5), -2.6em 0 0 0 rgba($loadingBg, .7), -1.8em -1.8em 0 0 $loadingBg;
  }
}