.yancey-common-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  margin: 10rem auto .4rem;
  .copyright-motto-wrapper {
    text-align: center;
    .copyright {
      font-size: .8rem;
      margin-bottom: .6rem;
    }
    .motto {
      font-size: .6rem;
      color: #8a9399;
    }
  }
  .blog-info-wrapper {
    font-size: .6rem;
    .blog-info-list{
      display: inline-block;
      .blog-info-item {
        color: #555;
        border-right: 1px solid #d6d6d6;
        margin-right: .4rem;
        padding-right: .4rem;
        margin-top: .4rem;
        &:last-child {
          border: none;
          margin: 0;
          padding: 0;
        }
      }
    }
    .switch-language {
      display: inline-block;
      .english {
        margin-left: 1rem;
        margin-right: .2rem;
        padding-right: .2rem;
        border-right: 1px solid #d6d6d6;
      }
    }
  }
}


