@charset "UTF-8";

.article_detail_wrapper {
  color: #333;

  .article_meta_wrapper {
    width: 100%;
    height: 20rem;
    padding-top: 11rem;
    padding-left: 28rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
    text-shadow: rgb(0, 0, 0) 2px 2px 10px;
  }

  .title {
    font-size: 1.6rem;
  }

  .publish_date {
    position: relative;
    margin-right: 1rem;
    font-size: 0.7rem;
    color: #909090;

    &:hover::after {
      position: absolute;
      content: attr(data-modify);
      top: 1.8rem;
      left: -2.6rem;
      padding: 0.2rem 0.1rem;
      width: 13rem;
      background: rgba(26, 26, 26, 0.8);
      border-radius: 4px;
      text-align: center;
      color: #fff;
    }

    &:hover::before {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      border: 0.6rem solid transparent;
      border-bottom-color: rgba(26, 26, 26, 0.8);
      top: 0.6rem;
      left: 2.3rem;
    }
  }

  .page_view {
    font-size: 0.7rem;
    margin-right: 1rem;
    color: #909090;
  }

  .tags_list {
    display: inline-block;

    li {
      display: inline-block;
      margin-right: 0.4rem;
      text-align: center;
      background: rgba(0, 0, 0, 0.4);
      border-radius: 2px;
      line-height: 1;
      padding: 2px;

      &:hover {
        background: rgba(0, 0, 0, 0.6);
      }

      a {
        display: block;
        padding: 2px;
        font-size: 0.7rem;
        color: #fff;
        border: none;
      }
    }
  }

  .content_wrapper,
  .attachment_wrapper {
    position: relative;
    width: 40rem;
    padding-top: 2rem;
    margin: 0 auto;

    blockquote {
      color: #666;
      padding: 0.5rem 1rem;
      margin: 1rem 0;
      border-left: 4px solid #cbcbcb;
      background-color: #f8f8f8;
      font-size: 0.8rem;
      line-height: 1.8;
    }
  }

  .copyright_share_wrapper {
    position: relative;
    margin-top: 1.5rem;
    padding: 1rem 0;
    height: 4.2rem;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;

    a {
      border: none;
    }

    a {
      display: block;
      margin-bottom: 0.4rem;
      font-size: 0.7rem;
      color: #b3b3b3;
      text-align: center;
      letter-spacing: 0.5px;
      transition: color 100ms linear;

      &:hover {
        color: #888;
        transition: color 100ms linear;
      }
    }
  }

  .prev_next_wrapper {
    display: flex;
    margin: 2.8rem 0;
    cursor: pointer;

    button {
      width: 100%;
      outline: none;
      border-width: 0;
    }

    .prev_next_container {
      position: relative;
      height: 7.5rem;
      background: no-repeat center center;
      background-size: cover;
      transition: opacity 200ms ease-in;

      &:hover .overlay {
        opacity: 0.4;
        transition: opacity 200ms ease-in;
      }
    }

    .prev_next_meta {
      position: absolute;
      top: 1.8rem;
      left: 2rem;
      z-index: 1;

      .directive {
        font-size: 0.65rem;
        color: rgba(#fff, 0.7);
        margin: 0;
      }

      .title {
        font-size: 0.7rem;
        color: #fff;
        margin: 0;
      }
    }

    .next_meta {
      text-align: right;
      right: 2rem;
    }
  }

  .comment_title {
    color: #7d7d7d;
    font-size: 0.9rem;
    font-weight: 400;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    outline: none;
    margin: 1rem 0;
    color: #333;

    &:target {
      padding-top: 4rem;
    }
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    margin-top: 1.75rem;
    font-size: 1.4rem;
    padding-bottom: 0.6rem;
    border-bottom: 1px solid #ececec;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 0.8rem;
  }

  h5 {
    font-size: 0.6rem;
  }

  li {
    font-size: 0.8rem;
    line-height: 2;
    list-style-type: disc;
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 4px;
  }

  p {
    font-size: 0.8rem;
    line-height: 1.75;
    margin: 1.1rem 0;
  }

  code {
    margin-top: 0;
    padding: 2px;
    height: 100%;
    background: #fff5f5;
    font-size: 0.75rem;
    color: #ff502c;
    text-shadow: none;
    border-radius: 2px;
  }

  pre code {
    border-radius: 5px;
    font-family: Menlo, Monaco, Consolas, Courier New, monospace !important;
  }

  a {
    color: #0269c8;
    padding-bottom: 2px;
    border-bottom: 1px solid #d1e9ff;

    &:hover {
      color: #275b8c;
    }
  }

  .toc-link {
    border: none;
  }

  .prev_next {
    display: inline-block;
    width: 100%;
    border: none;
  }

  strong {
    color: #2c3e50;
  }

  ol,
  ul {
    counter-reset: li;
    list-style: none;
    padding-left: 0.4rem;
  }

  table {
    border-collapse: collapse;
    margin: 1rem 0;
    display: block;
    overflow-x: auto;
    border-spacing: 2px;
    border-color: grey;
    font-size: 0.75rem;
  }

  tr {
    border-top: 1px solid #dfe2e5;
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }

  tr:nth-child(2n) {
    background-color: #f6f8fa;
  }

  th {
    font-weight: bold;
    text-align: -internal-center;
  }

  td,
  th {
    display: table-cell;
    vertical-align: inherit;
  }

  th,
  td {
    border: 1px solid #dfe2e5;
    padding: 0.6em 1em;
  }

  pre {
    margin: 1rem 0;
  }

  .code-title {
    height: 2rem;
    background: #21252b;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    padding-left: 0.7rem;
  }

  .code-full-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
    z-index: 9999999;
    margin: 0;
    animation: 1s elastic;
  }

  .code-close-full-screen {
    animation: 1s swing;
  }

  @keyframes elastic {
    0% {
      transform: scale(0);
    }

    55% {
      transform: scale(1);
    }

    70% {
      transform: scale(0.98);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes swing {
    20% {
      transform: rotate(7deg);
    }

    60% {
      transform: rotate(-7deg);
    }

    100% {
      transform: rotate(0);
    }
  }

  .img-group {
    text-align: center;
    margin-bottom: 3rem;

    a {
      border: none;
    }
  }

  .img-group .img-info {
    display: inline-block;
    text-align: center;
    padding: 0.6rem 0.4rem 0.1rem;
    color: #333;
    font-size: 0.7rem;
    border-bottom: 1px dashed #d9d9d9;
  }

  ::selection {
    background: #ffafa7;
    color: #fff;
  }

  -webkit-overflow-scrolling: touch;

  .rounded-list li::before {
    content: counter(li);
    counter-increment: li;
    margin-right: 10px;
  }

  .menu {
    position: fixed;
    top: 25.6rem;
    margin-left: 42rem;

    .toc-link {
      font-family: 'Ubuntu', sans-serif;
      font-size: 0.8rem;
      color: #404040;
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    }

    .is-active-link::before {
      background: #ffa500;
    }
  }

  .share_btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .twitter_share_button_wrapper {
    display: inline-block !important;
    position: relative;
    top: 8px;

    .twitter_share_button {
      display: flex;
      height: 20px;
      margin-right: 0.6rem;
      padding: 2.5px 4px;
      background: #50abf1;
      border: none;
      border-radius: 2px;
      color: #fff;
      font-weight: 500;
      cursor: pointer;

      svg {
        width: 0.8rem;
        height: 0.8rem;
        fill: #fff;
        margin-right: 2px;
      }
    }
  }

  .hljs-ln-line {
    line-height: 1.6;
    font-size: 0.7rem;
  }

  .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #abb2bf;
    background-color: #282c34 !important;
  }

  .hljs-comment,
  .hljs-quote {
    color: #5c6370;
    font-style: italic;
  }

  .hljs-doctag,
  .hljs-keyword,
  .hljs-formula {
    color: #c678dd;
  }

  .hljs-section,
  .hljs-name,
  .hljs-selector-tag,
  .hljs-deletion,
  .hljs-subst {
    color: #e06c75;
  }

  .hljs-literal {
    color: #56b6c2;
  }

  .hljs-string,
  .hljs-regexp,
  .hljs-addition,
  .hljs-attribute,
  .hljs-meta-string {
    color: #9c9;
  }

  .hljs-built_in,
  .hljs-class .hljs-title {
    color: #e6c07b;
  }

  .hljs-attr,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-type,
  .hljs-selector-class,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-number {
    color: #d19a66;
  }

  .hljs-symbol,
  .hljs-bullet,
  .hljs-link,
  .hljs-meta,
  .hljs-selector-id,
  .hljs-title {
    color: #61aeee;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: bold;
  }

  .hljs-link {
    text-decoration: underline;
  }

  .hljs-ln-line:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  .hljs-ln {
    width: 100%;
  }

  .hljs-ln-line {
    line-height: 1.6;
  }
}

#baguetteBox-overlay {
  animation: 1s elastic;

  img {
    max-width: 80% !important;
    max-height: 80% !important;
    box-shadow: 0 0 8.5rem #ddd !important;
  }
}

.fb_iframe_widget {
  top: 0.1rem !important;
}

.rounded-list,
.toc-list {
  li {
    list-style-type: none;
    line-height: 1.5;
  }
}

.Demo__some-network__share-button {
  outline: none;
  cursor: pointer;

  svg {
    width: 1.2rem;
    height: 1.2rem;
    position: relative;
    top: 0.35rem;
  }
}
