.article_detail_wrapper {
  margin-top: 3.25rem;
  color: #404040;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch; }
  .article_detail_wrapper .article_meta_wrapper {
    width: 100%;
    height: 20rem;
    padding-top: 11rem;
    padding-left: 28rem;
    font-family: "Merriweather Sans", sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    text-shadow: black 2px 2px 10px; }
    .article_detail_wrapper .article_meta_wrapper .title {
      font-size: 1.6rem; }
    .article_detail_wrapper .article_meta_wrapper .article_meta_container {
      display: flex;
      align-items: center;
      margin-top: 1.2rem; }
    .article_detail_wrapper .article_meta_wrapper .author_avatar {
      width: 2rem;
      height: 2rem;
      background: no-repeat center top;
      background-size: cover;
      border-radius: 50%;
      transition: all 800ms linear; }
      .article_detail_wrapper .article_meta_wrapper .author_avatar:hover {
        transform: rotate(360deg);
        transition: all 800ms linear; }
    .article_detail_wrapper .article_meta_wrapper .publish_date {
      position: relative;
      margin: 0 1rem;
      font-size: .7rem; }
      .article_detail_wrapper .article_meta_wrapper .publish_date:hover::after {
        position: absolute;
        content: attr(data-modify);
        font-family: "PingFang SC", sans-serif;
        top: 1.8rem;
        left: -2.6rem;
        padding: .2rem .1rem;
        width: 13rem;
        background: rgba(26, 26, 26, 0.8);
        border-radius: 4px;
        text-align: center;
        color: #fff; }
      .article_detail_wrapper .article_meta_wrapper .publish_date:hover::before {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border: .6rem solid transparent;
        border-bottom-color: rgba(26, 26, 26, 0.8);
        top: .6rem;
        left: 2.3rem; }
    .article_detail_wrapper .article_meta_wrapper .page_view {
      font-size: .7rem;
      margin-right: 1rem; }
    .article_detail_wrapper .article_meta_wrapper .tags_list li {
      display: inline-block;
      margin-right: .4rem;
      text-align: center;
      background: rgba(0, 0, 0, 0.4);
      border-radius: 2px;
      line-height: 1; }
      .article_detail_wrapper .article_meta_wrapper .tags_list li:hover {
        background: rgba(0, 0, 0, 0.6); }
      .article_detail_wrapper .article_meta_wrapper .tags_list li a {
        display: block;
        padding: 2px;
        vertical-align: middle;
        font-size: .7rem;
        color: #fff; }
  .article_detail_wrapper .content_wrapper, .article_detail_wrapper .attachment_wrapper {
    position: relative;
    width: 40rem;
    padding-top: 2rem;
    margin: 0 auto; }
    .article_detail_wrapper .content_wrapper .summary, .article_detail_wrapper .attachment_wrapper .summary {
      font-size: .75rem;
      line-height: 2;
      border-bottom: 1px dashed #ddd;
      margin-bottom: 2rem;
      padding-bottom: 1rem; }
      .article_detail_wrapper .content_wrapper .summary::first-letter, .article_detail_wrapper .attachment_wrapper .summary::first-letter {
        float: left;
        line-height: 1;
        font-size: 3rem;
        margin: 0 0.4rem 0 0; }
  .article_detail_wrapper .copyright_share_wrapper {
    position: relative;
    margin-top: 1.5rem;
    padding: 1rem 0;
    height: 4.2rem;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd; }
    .article_detail_wrapper .copyright_share_wrapper a {
      display: block;
      margin-bottom: .4rem;
      font-size: .7rem;
      color: #b3b3b3;
      text-align: center;
      letter-spacing: .5px;
      transition: color 100ms linear; }
      .article_detail_wrapper .copyright_share_wrapper a:hover {
        color: #888;
        transition: color 100ms linear; }
  .article_detail_wrapper .prev_next_wrapper {
    display: flex;
    margin: 2.8rem 0; }
    .article_detail_wrapper .prev_next_wrapper button {
      width: 100%;
      outline: none;
      border-width: 0; }
    .article_detail_wrapper .prev_next_wrapper .prev_next_container {
      position: relative;
      height: 7.5rem;
      background: no-repeat center center;
      background-size: cover;
      transition: opacity 200ms ease-in; }
      .article_detail_wrapper .prev_next_wrapper .prev_next_container:hover .overlay {
        opacity: .4;
        transition: opacity 200ms ease-in; }
    .article_detail_wrapper .prev_next_wrapper .prev_next_meta {
      position: absolute;
      top: 1.8rem;
      left: 2rem;
      z-index: 1; }
      .article_detail_wrapper .prev_next_wrapper .prev_next_meta .directive {
        font-size: .65rem;
        color: rgba(255, 255, 255, 0.7);
        margin: 0; }
      .article_detail_wrapper .prev_next_wrapper .prev_next_meta .title {
        font-size: .7rem;
        color: #fff;
        margin: 0; }
    .article_detail_wrapper .prev_next_wrapper .next_meta {
      text-align: right;
      right: 2rem; }
  .article_detail_wrapper .comment_title {
    color: #7d7d7d;
    font-size: .9rem;
    font-weight: 400; }
  .article_detail_wrapper h1, .article_detail_wrapper h2, .article_detail_wrapper h3, .article_detail_wrapper h4, .article_detail_wrapper h5, .article_detail_wrapper h6 {
    outline: none;
    margin: 1rem 0; }
    .article_detail_wrapper h1:target, .article_detail_wrapper h2:target, .article_detail_wrapper h3:target, .article_detail_wrapper h4:target, .article_detail_wrapper h5:target, .article_detail_wrapper h6:target {
      padding-top: 4rem; }
  .article_detail_wrapper h2 {
    font-size: 1.4rem; }
  .article_detail_wrapper h3 {
    font-size: 1.2rem; }
  .article_detail_wrapper h4 {
    font-size: 1rem; }
  .article_detail_wrapper h5 {
    font-size: .8rem; }
  .article_detail_wrapper h6 {
    font-size: .6rem; }
  .article_detail_wrapper li {
    font-size: .8rem;
    line-height: 2;
    list-style-type: disc; }
  .article_detail_wrapper img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 4px; }
  .article_detail_wrapper blockquote {
    margin-bottom: 2rem;
    line-height: 2;
    font-size: .8rem;
    letter-spacing: 1px; }
    .article_detail_wrapper blockquote::first-letter {
      padding-right: .2rem;
      font-size: 4em;
      float: left;
      font-weight: bold;
      line-height: 1; }
  .article_detail_wrapper p {
    font-size: .75rem;
    line-height: 1.5rem;
    margin: .75rem 0 1.125rem; }
  .article_detail_wrapper pre code {
    border-radius: 0 0 5px 5px;
    font-family: 'Operator Mono', monospace !important; }
  .article_detail_wrapper code {
    margin-top: 0;
    padding: 2px;
    height: 100%;
    background: #f9f2f4;
    font-size: .8rem;
    color: #c7254e;
    text-shadow: none;
    border-radius: 2px; }
  .article_detail_wrapper a {
    color: #e67474;
    transition: 200ms all linear; }
  .article_detail_wrapper a:hover {
    color: #42b983;
    transition: 200ms all linear; }
  .article_detail_wrapper strong {
    color: #2c3e50; }
  .article_detail_wrapper ol, .article_detail_wrapper ul {
    counter-reset: li;
    list-style: none;
    padding-left: 0.4rem; }
  .article_detail_wrapper .code-title {
    height: 2rem;
    background: #21252b;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    padding-left: .7rem; }
  .article_detail_wrapper .code-title span {
    cursor: pointer; }
  .article_detail_wrapper .code-title .code-title-type {
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    line-height: 2rem;
    position: absolute;
    display: inline-block;
    left: 0;
    right: 0; }
  .article_detail_wrapper .code-title .code-title-btn {
    display: inline-block;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    background: #fc625d;
    margin-right: .4rem;
    margin-top: .6rem; }
  .article_detail_wrapper .code-title .code-title-shrink {
    background: #fdbc40; }
  .article_detail_wrapper .code-title .code-title-amplify {
    background: #35cd4b; }
  .article_detail_wrapper .code-full-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
    z-index: 9999999;
    margin: 0;
    animation: 1s elastic; }
  .article_detail_wrapper .code-close-full-screen {
    animation: 1s swing; }
@keyframes elastic {
  0% {
    transform: scale(0); }
  55% {
    transform: scale(1); }
  70% {
    transform: scale(0.98); }
  100% {
    transform: scale(1); } }
@keyframes swing {
  20% {
    transform: rotate(7deg); }
  60% {
    transform: rotate(-7deg); }
  100% {
    transform: rotate(0); } }
  .article_detail_wrapper .img-group {
    text-align: center;
    margin-bottom: 3rem; }
  .article_detail_wrapper .img-group .img-info {
    display: inline-block;
    text-align: center;
    padding: .6rem 1rem .4rem;
    color: #969696;
    border-bottom: 1px dashed #d9d9d9; }
  .article_detail_wrapper ::selection {
    background: #ffafa7;
    color: #fff; }
  .article_detail_wrapper .rounded-list li::before {
    content: counter(li);
    counter-increment: li;
    margin-right: 10px; }
  .article_detail_wrapper .menu {
    position: fixed;
    top: 25.6rem;
    margin-left: 42rem; }
    .article_detail_wrapper .menu .toc-link {
      font-family: "Merriweather Sans", sans-serif;
      font-size: .8rem;
      color: #404040;
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.1); }
    .article_detail_wrapper .menu .is-active-link::before {
      background: #ffA500; }
  .article_detail_wrapper .share_btn {
    display: flex;
    justify-content: center;
    align-items: center; }
  .article_detail_wrapper .twitter_share_button_wrapper {
    display: inline-block !important;
    position: relative;
    top: 8px; }
    .article_detail_wrapper .twitter_share_button_wrapper .twitter_share_button {
      display: flex;
      height: 20px;
      margin-right: .6rem;
      padding: 2.5px 4px;
      background: #50ABF1;
      border: none;
      border-radius: 2px;
      color: #fff;
      font-weight: 500;
      cursor: pointer; }
      .article_detail_wrapper .twitter_share_button_wrapper .twitter_share_button svg {
        width: .8rem;
        height: .8rem;
        fill: #fff;
        margin-right: 2px; }
  .article_detail_wrapper .hljs-ln-line {
    line-height: 1.6; }
  .article_detail_wrapper .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #abb2bf;
    background-color: #282c34 !important; }
  .article_detail_wrapper .hljs-comment, .article_detail_wrapper .hljs-quote {
    color: #5c6370;
    font-style: italic; }
  .article_detail_wrapper .hljs-doctag,
  .article_detail_wrapper .hljs-keyword,
  .article_detail_wrapper .hljs-formula {
    color: #c678dd; }
  .article_detail_wrapper .hljs-section,
  .article_detail_wrapper .hljs-name,
  .article_detail_wrapper .hljs-selector-tag,
  .article_detail_wrapper .hljs-deletion,
  .article_detail_wrapper .hljs-subst {
    color: #e06c75; }
  .article_detail_wrapper .hljs-literal {
    color: #56b6c2; }
  .article_detail_wrapper .hljs-string,
  .article_detail_wrapper .hljs-regexp,
  .article_detail_wrapper .hljs-addition,
  .article_detail_wrapper .hljs-attribute,
  .article_detail_wrapper .hljs-meta-string {
    color: #9c9; }
  .article_detail_wrapper .hljs-built_in,
  .article_detail_wrapper .hljs-class .hljs-title {
    color: #e6c07b; }
  .article_detail_wrapper .hljs-attr,
  .article_detail_wrapper .hljs-variable,
  .article_detail_wrapper .hljs-template-variable,
  .article_detail_wrapper .hljs-type,
  .article_detail_wrapper .hljs-selector-class,
  .article_detail_wrapper .hljs-selector-attr,
  .article_detail_wrapper .hljs-selector-pseudo,
  .article_detail_wrapper .hljs-number {
    color: #d19a66; }
  .article_detail_wrapper .hljs-symbol,
  .article_detail_wrapper .hljs-bullet,
  .article_detail_wrapper .hljs-link,
  .article_detail_wrapper .hljs-meta,
  .article_detail_wrapper .hljs-selector-id,
  .article_detail_wrapper .hljs-title {
    color: #61aeee; }
  .article_detail_wrapper .hljs-emphasis {
    font-style: italic; }
  .article_detail_wrapper .hljs-strong {
    font-weight: bold; }
  .article_detail_wrapper .hljs-link {
    text-decoration: underline; }
  .article_detail_wrapper .hljs-ln-line:hover {
    background: rgba(255, 255, 255, 0.1); }
  .article_detail_wrapper .hljs-ln {
    width: 100%; }
  .article_detail_wrapper .hljs-ln-line {
    line-height: 1.6; }

#baguetteBox-overlay {
  animation: 1s elastic; }
  #baguetteBox-overlay img {
    max-width: 80% !important;
    max-height: 80% !important;
    box-shadow: 0 0 8.5rem #ddd !important; }

.fb_iframe_widget {
  top: .1rem !important; }

.rounded-list li, .toc-list li {
  list-style-type: none;
  line-height: 1.5; }

.Demo__some-network__share-button {
  outline: none;
  cursor: pointer; }
  .Demo__some-network__share-button svg {
    width: 1.2rem;
    height: 1.2rem;
    position: relative;
    top: .35rem; }

/*# sourceMappingURL=blog_detail.css.map */
