.article_detail_wrapper {
  position: relative;
  margin-top: 3.25rem;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch; }
  .article_detail_wrapper .article_meta_wrapper {
    position: relative;
    width: 100%;
    height: 20rem;
    background: url("./bg.jpg") no-repeat center top;
    background-size: cover; }
    .article_detail_wrapper .article_meta_wrapper .title {
      font-size: 1.8rem; }
  .article_detail_wrapper h2 {
    font-size: 1.4rem; }
  .article_detail_wrapper h3 {
    font-size: 1.2rem; }
  .article_detail_wrapper h4 {
    font-size: 1rem; }
  .article_detail_wrapper h5 {
    font-size: .8rem; }
  .article_detail_wrapper h6 {
    font-size: .6rem; }
  .article_detail_wrapper img {
    display: block;
    margin: 0 auto;
    width: 100%; }
  .article_detail_wrapper .article_content {
    width: 44.5rem;
    padding-top: 4rem;
    margin: 0 auto; }
  .article_detail_wrapper blockquote {
    width: 90%;
    line-height: 2;
    text-align: justify;
    font-size: .8rem;
    margin-top: 0;
    letter-spacing: 1px; }
  .article_detail_wrapper blockquote, .article_detail_wrapper p {
    color: #34495e;
    text-shadow: 0 0 1px rgba(52, 73, 94, 0.1);
    font-size: .8rem; }
  .article_detail_wrapper p {
    line-height: 1.8;
    margin-bottom: 1.5rem; }
  .article_detail_wrapper .code-title {
    height: 2rem;
    background: #21252b;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    padding-left: .7rem; }
  .article_detail_wrapper .hljs-ln-line {
    line-height: 1.6; }
  .article_detail_wrapper .code-title span {
    cursor: pointer; }
  .article_detail_wrapper .code-title .code-title-type {
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    line-height: 2rem;
    font-family: "Arial", sans-serif;
    position: absolute;
    display: inline-block;
    left: 0;
    right: 0; }
  .article_detail_wrapper .code-title .code-title-btn {
    display: inline-block;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    background: #fc625d;
    margin-right: .4rem;
    margin-top: .6rem; }
  .article_detail_wrapper .code-title .code-title-shrink {
    background: #fdbc40; }
  .article_detail_wrapper .code-title .code-title-amplify {
    background: #35cd4b; }
  .article_detail_wrapper pre code {
    border-radius: 0 0 5px 5px;
    font-family: 'Operator Mono', monospace !important; }
  .article_detail_wrapper code {
    background: #f0f0f0;
    color: #e96900;
    padding: 2px;
    text-shadow: none;
    margin-top: 0;
    border-radius: 5px;
    font-size: .8rem;
    height: 100%; }
  .article_detail_wrapper .code-full-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
    z-index: 9999999;
    margin: 0;
    animation: 1s elastic; }
  .article_detail_wrapper .code-close-full-screen {
    animation: 1s swing; }
@keyframes elastic {
  0% {
    transform: scale(0); }
  55% {
    transform: scale(1); }
  70% {
    transform: scale(0.98); }
  100% {
    transform: scale(1); } }
@keyframes swing {
  20% {
    transform: rotate(7deg); }
  60% {
    transform: rotate(-7deg); }
  100% {
    transform: rotate(0); } }
  .article_detail_wrapper .quote {
    font-size: 1.9rem !important;
    color: orange; }
  .article_detail_wrapper i.quote.right.icon {
    margin-left: 42rem;
    margin-bottom: 2rem; }
  .article_detail_wrapper a {
    color: #e67474;
    text-decoration: underline dotted rgba(0, 0, 0, 0.1);
    transition: 200ms all linear; }
  .article_detail_wrapper a:hover {
    color: #42b983;
    transition: 200ms all linear; }
  .article_detail_wrapper strong {
    color: #2c3e50; }
  .article_detail_wrapper .img-group {
    text-align: center; }
  .article_detail_wrapper .img-group .img-info {
    display: inline-block;
    text-align: center;
    padding: .6rem 1rem .4rem;
    color: #969696;
    border-bottom: 1px dashed #d9d9d9;
    font-family: "PingFang SC", "MicroSoft Yahei", sans-serif; }
  .article_detail_wrapper :global(.hljs) {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #abb2bf;
    background: #282c34; }
  .article_detail_wrapper :global(.hljs-comment, .hljs-quote) {
    color: #5c6370;
    font-style: italic; }
  .article_detail_wrapper :global(.hljs-doctag,
  .hljs-keyword,
  .hljs-formula) {
    color: #c678dd; }
  .article_detail_wrapper :global(.hljs-section,
  .hljs-name,
  .hljs-selector-tag,
  .hljs-deletion,
  .hljs-subst) {
    color: #e06c75; }
  .article_detail_wrapper :global(.hljs-literal) {
    color: #56b6c2; }
  .article_detail_wrapper :global(.hljs-string,
  .hljs-regexp,
  .hljs-addition,
  .hljs-attribute,
  .hljs-meta-string) {
    color: #9c9; }
  .article_detail_wrapper :global(.hljs-built_in,
  .hljs-class .hljs-title) {
    color: #e6c07b; }
  .article_detail_wrapper :global(.hljs-attr,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-type,
  .hljs-selector-class,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-number) {
    color: #d19a66; }
  .article_detail_wrapper :global(.hljs-symbol,
  .hljs-bullet,
  .hljs-link,
  .hljs-meta,
  .hljs-selector-id,
  .hljs-title) {
    color: #61aeee; }
  .article_detail_wrapper :global(.hljs-emphasis) {
    font-style: italic; }
  .article_detail_wrapper :global(.hljs-strong) {
    font-weight: bold; }
  .article_detail_wrapper :global(.hljs-link) {
    text-decoration: underline; }
  .article_detail_wrapper :global(.hljs-ln-line:hover) {
    background: rgba(255, 255, 255, 0.1); }
  .article_detail_wrapper :global(.hljs-ln) {
    width: 100%; }
  .article_detail_wrapper i.linkify.left.icon {
    display: none;
    margin-left: .4rem;
    font-size: 1.2rem;
    color: #42b983; }
  .article_detail_wrapper ::selection {
    background: #ffafa7;
    color: #fff; }
  .article_detail_wrapper ol {
    counter-reset: li;
    list-style: none;
    padding-left: 0.4rem; }
  .article_detail_wrapper .rounded-list li::before {
    content: counter(li);
    counter-increment: li;
    margin-right: 10px; }
  .article_detail_wrapper h1::before, .article_detail_wrapper h2::before, .article_detail_wrapper h3::before, .article_detail_wrapper h4::before, .article_detail_wrapper h5::before, .article_detail_wrapper h6::before {
    display: block;
    content: " ";
    height: 80px;
    margin-top: -80px;
    visibility: hidden; }
  .article_detail_wrapper .menu {
    position: fixed;
    right: 0;
    top: 600px; }
  .article_detail_wrapper h1, .article_detail_wrapper h2, .article_detail_wrapper h3, .article_detail_wrapper h4, .article_detail_wrapper h5, .article_detail_wrapper h6 {
    outline: none; }

#baguetteBox-overlay {
  animation: 1s elastic; }
  #baguetteBox-overlay img {
    box-shadow: 0 0 8.5rem #ddd !important; }

/*# sourceMappingURL=blog_detail.module.css.map */
